#root {
  max-width: 1280px;
  margin:  auto;
  /* text-align: center; */
  
}

.card{
  border: 2px solid purple;
  border-radius: 10px;
  margin: 15px;
}

.loading{
  text-align: center;
}



@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 1em;
}

.read-the-docs {
  color: #888;
}
