nav{
  display: flex;
  gap: 34px;
  background-color: rgb(35, 97, 76);
  color: rgb(179, 162, 162);
}
*{

  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
}
a li{
  list-style: none;
  color: white;
  padding: 20px;
}
.red{
  background-color: red;
}
